@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Cairo';
    src: url('/fonts/static/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cairo', sans-serif;
}